{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {},
  "extends": ["eslint:recommended"],
  "env": {
    "node": true,
    "commonjs": true,
    "es6": true
  }
}
